<div class="border-start ps-4 mb-4 mt-2">
  <span class="small">
    <%= link_to comment.user.first_name, user_path(comment.user) %> posted
  </span>
  <%= simple_format comment.body %>

  <div data-controller="reply">
    <%= link_to "Reply", "#", class: "small", data: { action: "click->reply#toggle" } %> |
    <%= link_to "Destroy", post_comment_path(comment.commentable, comment), class: "small", data: { turbo_method: :delete, turbo_confirm: "Are you sure?" } %>
    <%= render partial: "comments/form", locals: { commentable: comment.commentable, parent_id: comment.id, class: "d-none", target: "reply.form" } %>
  </div>

  <%= render comment.comments %>
</div>
